/* dashboard.css */

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    width: 250px;
    background-color: #007438;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.sidebar-logo {
    width: 150px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    margin: 28px 0;
    display: flex;
    align-items: center;
}

.sidebar ul li img {
    width: 20px;
    /* Adjust size as needed */
    height: 20px;
    /* Adjust size as needed */
    margin-right: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* Ensure content does not overflow */
}

.navbar {
    background-color: #ffffff;
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px -2px rgb(12, 12, 12);
    /* Darker and more visible shadow */
    padding-left: 20px;
    padding-right: 20px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar h3 {
    margin: 0;
    font-weight: 300;
}

.navbar p {
    margin: 0;
    color: grey;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    align-items: center;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a,
.navbar ul li button,
.navbar ul li input {
    color: #000;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
}

.navbar ul li a:hover,
.navbar ul li button:hover,
.navbar ul li input:hover {
    text-decoration: underline;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
}

.search-container {
    position: relative;
    margin-left: 20px;
    /* Adjust spacing as needed */
}

.search-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 1px;
    height: 30px;
    /* Adjust height as needed */
    background-color: #000000;
}

.navbar .search-box {
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
}

.navbar .oval-button {
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 116, 56, 1);
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .oval-button img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.content {

    padding: 20px;
    flex-grow: 1;
    background-color: #f0f0f0;
    box-sizing: border-box;
    overflow: auto;
    /* Ensure scroll if content overflows */
}

.content h1 {
    margin-top: 0;
    font-size: 25px;
    font-weight: 700;
}

.profile-section {
    margin-top: auto;
    margin-bottom: 100px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /* Align items to space-between */
    align-items: center;
    /* Center items vertically */
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    /* Center text horizontally */
}


.profile-info .profile-label {
    color: #ffffff;
    /* Yellow color for the label */

    /* Bold font for the label */
    margin-right: 10px;
}

.profile-info .profile-name {
    color: #ffffff;
    /* Green color for the name */
    font-size: 16px;
    font-weight: bold;
    /* Larger font size for the name */
}

.logout-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
}

.logout-button:hover {
    text-decoration: underline;
}

.profile-info span:first-child {
    color: rgb(250, 250, 250);
}

/* Add this to dashboard.css */

.card-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* max-height: 500px; */
    /* Adjust the maximum height as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */

}

.card {
    position: relative;
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-text {
    flex-grow: 1;
    margin-right: 20px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: calc(100% - 100px);
    /* Adjust width to accommodate profile image */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.account-details {
    margin-bottom: 10px;
}

.random-text {
    margin-bottom: 10px;

}

.card-buttons {
    display: flex;
    gap: 10px;
}

.card-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card-button:nth-child(1) {
    background-color: #7d3cff;
    /* Purple background */
    color: white;
}

.card-button:nth-child(2) {
    background-color: #8cc63f;
    /* Light green background */
    color: #1f3615;
    /* Dark green text */
}

.view-detail-button {
    position: absolute;
    top: 10px;
    /* Adjust top position */
    right: 10px;
    /* Adjust right position */
    background-color: transparent;
    color: #8cc63f;
    /* Light green text */
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.view-detail-button:hover {
    text-decoration: underline;
    background-color: transparent;
}

.card-footer {
    position: absolute;
    bottom: 10px;
    /* Adjust top position */
    right: 10px;
    /* Adjust right position */
    background-color: transparent;
    color: #070707;
    /* Light green text */
    border: none;
}

.card-footer .footer-line1 {
    font-weight: bold;
    /* Example style for the first line */
}

.card-footer .footer-line2 {
    color: #666;
    /* Example style for the second line */
    font-size: 14px;
    /* Example font size */
}

/*  */
.content-left-side {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    margin: 10px;
    flex: 0.7; /* Adjust this value to make the left side smaller */
    border-radius: 20px;
    overflow: hidden; /* Ensure content stays within the box */
    display: flex;
    flex-direction: column;
 
}

.content-right-side {
    display: flex;
    flex: 2.3; /* Adjust this value to make the right side larger */
    flex-direction: column;
    margin: 10px;
    overflow: hidden;
}

.content-row {
    display: flex;
    flex-direction: row;
    height: 100vh
}

.section1 {
    position: relative;
    padding: 10px; /* Add padding to prevent overflow */
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
}

.section1-button {
    display: flex;
    position: absolute;
    top: 30px;
    right: 10px;
    transform: translateY(-50%);
    background-color: #007438;
    /* Example background color */
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
}

.section1-profile-section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 25px;
}

.section1-profile-info {
    align-items: flex-start;
    margin-left: 45px;
    flex: 1; /* Make the profile info flexible */

}

.section1-profile-info h4 {
    color: #030303;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;

}

.section1-profile-info p {
    color: #555;
    font-size: 14px;
    margin: 0;

}

.section1-info {
    position: relative;
    margin-top: 20px;
    flex: 1;
}

.section1-info p {
    color: #555;
    font-size: 14px;
    margin: 0;
    margin-bottom: 3px;
}

.section1-info h4 {
    color: #050505;
    font-size: 14px;
    margin: 0;
    margin-bottom: 25px;
}

.section1-big-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 530px;
}

.section1-big-info p {
    font-size: 16px;
    font-weight: 600;
    color: #666;
    margin: 0;
    margin-bottom: 3px;
}

.big-info-subsection {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.big-info-subsection-backdetail {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    align-items: flex-start;
    /* margin-bottom: 20px; */
}

.big-info-subsection-backdetail p {
    color: #555;
    font-size: 14px;
    margin: 0;
    margin-bottom: 2px;
    margin-top: 20px;
}

.big-info-subsection-backdetail h4 {
    color: #050505;
    font-size: 14px;
    margin: 0;
    margin-bottom: 25px;
}









.section2 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* max-width: 1070px; */
    /* background-color: #070707; */
}

.section2-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    width: 25%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section2-card-row {
    display: flex;
    align-items: center;

}

.section2-card-row p {
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
}

.section2-card-row h3 {
    margin-left: 20px;
    font-weight: 700;
    font-size: 24px;
}







.section3 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 80%;
    margin: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    overflow: auto;
}

.transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.transaction-table th,
.transaction-table td {
    padding: 0;
    /* Remove default padding */
    border: none;
    /* Remove default borders */
}

.table-header,
.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.table-header {
    font-weight: bold;
}

.table-header span,
.table-row span {
    flex: 1;
    padding: 5px;
} 
.svg-containerh {
    margin-top: auto;
    /* width: 99%;   */
}

.svg-containerh object {
    width: 100%;
}
.show-more-btn{
    background-color: #007438;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.section1-3-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    border-radius: 17px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 6%;
    margin-right: 6%;
    position: absolute;
    top:740px;
    width: 80%;
    background: linear-gradient(135deg, #A5C768, #5FB676, #1EA483);
    transition: background 0.3s;
}

.section1-3-buttons h4{
    color: #ffffff;
    margin: 0px;
    width: 95%;
    margin-top: 12px;
    text-align: center;

}
.gradient-button {
    width: 80%;
    margin: 0px;
    /* Adjust the width as needed */
    height: 40px;
    /* Adjust the height as needed */
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff52;
}
.svg-container-profile{
    margin-top: auto;
    /* width: 99%;   */
}
.svg-container-profile object{
    width: 100%;  
}
.logout button {
    background-color: #007438;
    color: #f3f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.logout button img{
    padding-right: 15px;
}

/*  */